body {
    background: #7f7fd5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#form-group {
    margin: 3px;
}
.bg-white {
    background-color: #ffffff;
}

#comentario {
    resize: none;
    width: 200px;
    height: 100px;

}

.centrado {
    text-align: center;
    vertical-align: middle;
}

d-gridgap-2{
    margin: 3px;

}
td, tr {
    height: 30px;
  }
